@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700;800&display=swap');

.sidebar {
  width: 280px;
  background-color: #1C3E6F;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  flex-shrink: 0;
  height: 100vh;
  box-sizing: border-box;
  
  transition: width 0.3s ease, padding 0.3s ease, opacity 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}

/* HIDDEN STATE */
.sidebar.closed {
  width: 0;
  padding: 2rem 0;
  opacity: 0;
}

/* OPEN STATE */
.sidebar.open {
  width: 280px;
  opacity: 1;
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
}

.sidebar-logo img {
  width: 90px;
  margin-bottom: 1rem;
}

.sidebar-logo h2 {
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.sidebar-logo p {
  font-size: 0.85rem;
  opacity: 0.8;
  margin-top: 8px;
  font-weight: 400;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-grow: 1;
}

.nav-item {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-size: 1rem;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.nav-item.active {
  background-color: #FF8C00;
  color: white;
  font-weight: 700;
  box-shadow: 0 4px 15px rgba(255, 140, 0, 0.4);
}

.logout-btn {
  margin-top: auto;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.2);
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}

.logout-btn:hover {
    background: #E83F38;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
    border-color: white;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    height: 100%;
  }
}